<!-- Vertical Nav -->
<ul class="nav flex-column">
	<li class="nav-item">
		<a class="nav-link" href="<%= new_log_path %>">Input</a>
	</li>

	<li class="nav-item">
		<a class="nav-link" href="#">Output</a>
	</li>
</ul>