<div class="container-fluid">

	<!-- first row -->
	<div class="landing-row">

		<!-- 1st column -->
		<div class="col col-white">
			<div class="landing-content">
				<h1 class="landing-logo">Sense•It</h1>
				<h4 class="landing-header-white-box">It's 8am here in Punggol</h4>
				<h4 class="landing-best-for-side-way">BEST FOR</h4>
				<div class="landing-img" style="background-image: url('/images/park.jpg');"></div>
				<div class="landing-img-box-bg-blue"></div>
				<div class="landing-current-status"><h4 class="landing-header-white-box">taking a walk in the park.</h4></div>
			</div>
		</div>

		<!-- 2nd column -->
		<div class="col col-red">
			<div class="landing-content">
				<h1 class="landing-header-red-box">About Sense It</h1>
				<p class="landing-text">Sense-It is a community art project for the residents of Punggol.	</p>
				<p class="landing-text">Sense-It participants will assemble hobby sensor kits and collect environmental data from this neighbourhood.</p>
				<p class="landing-text">Data such as air-particulate matter levels, sound levels, and UV levels would give us an opportunity to appreciate the relationships we cultivate from living in Punggol.</p>
			</div>
		</div>

	<!-- end of first row -->
	</div>


	<!-- 2nd row -->
	<div class="landing-row">

		<!-- 2nd Row 1st column -->
		<div class="col col-yellow">
			<div class="landing-content">
				<h4 class="landing-featured-location-side-way">FEATURED LOCATION</h4>
				<div class="landing-img" style="background-image: url('/images/park.jpg');"></div>
				<div class="landing-img-box-bg-blue"></div>
				<div class="landing-current-status-featured-location"><h4 class="landing-header-white-box">Punggol Plaza Wet Market</h4></div>
			</div>
			<!-- end of 2nd row 1st column -->
		</div>

		<!-- 2nd Row 2nd column -->
		<div class="col col-blue">
			<div class="landing-data-stories-content">
				<h4 class="landing-data-stories-side-way">FROM DATA TO STORIES</h4>
				<div class="landing-data-stories-datetime">19 Sept 2019 8:00PM</div>
				<div class="landing-data-stories-sensor-type">Air Quality</div>
				<div class="landing-data-stories-reading">51</div>
				<div class="landing-data-stories-img" style="background-image: url('/images/seafood.jpg');"></div>
				<div class="landing-data-stories-text">My family and I went to Punggol Seafood for dinner. I see many families with children. You can hear people talking, waiters taking orders. The restaurant is next to the beach. The air smells like frying food in ocean. </div>
			</div>
		</div>

	<!-- end of 2nd row -->
	</div>

	<!-- 3rd row -->
	<div class="landing-row">
		<!-- 3rd Row 1st column -->
		<div class="col col-red">
			<div class="landing-content">
				<h4 class="landing-featured-participant-side-way">OUR PARTICIPANTS</h4>
				<div class="landing-img" style="background-image: url('/images/auntie.jpg');"></div>
				<div class="landing-img-box-bg-dark-blue"></div>
				<div class="landing-participant-name"><h3 class="landing-header-participant-name">Mdm Lucy Chew</h3></div>
			</div>
		</div>


		<!-- 3rd row 2nd column -->
		<div class="col col-yellow">
			<div class="landing-participant-content">
				<h4 class="landing-participant-side-way">Mdm Lucy Chew</h4>
				<div class="landing-participant-text">My favorite activity in Punggol is line-dancing at Oasis Terraces every Tuesday night.My friends and I would bring kueh-kueh and cakes. We would chit chat and have kopi after our dance session. </div>
			</div>
		</div>

<!-- end of 3rd row -->
</div>





<!-- end of main container	 -->
</div>