<div class="container-fluid">

	<!-- first row -->
	<div class="landing-row">

		<!-- 1st column -->
		<div class="col col-white">
			<h1>One</h1>
		</div>

		<!-- 2nd column -->
		<div class="col col-red">
			<h1>Two</h1>
		</div>

	<!-- end of first row -->
	</div>


	<!-- 2nd row -->
	<div class="landing-row">

		<!-- 1st column -->
		<div class="col col-yellow">
			<h1>Three</h1>
		</div>

		<!-- 2nd column -->
		<div class="col col-blue">
			<h1>Four</h1>
		</div>

	<!-- end of first row -->
	</div>


<!-- end of main container	 -->
</div>