/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


/*
* ============================
*	APP WIDE CSS
* ============================
*/

body {
	margin: 0;
	padding: 0;
	font-family: Poppins;
	/*background: #f5c040;*/
}


/*
* ============================
*	 COLLAPSED MENU CSS
* ============================
*/

.bg-nav-sense  {
	position: relative;
	top: 0;
	left: calc(50% + .45rem);
	width: 50%;
	background-color: #272263;
}


.bg-nav-naked  {
	background-color: #eb402c;
}


.navbar {
	background-color: #eb402c;
	position: relative;
	top: 0;
	left: calc(50% + .45rem);
	margin: 0;
	width: 50vw;
}

.navbar-toggler {
	background-color: #000;
	position: relative;
	top: 0;
	left: calc(100% - 5rem);
	border-radius: 500rem;
	border: 3px solid #fff;
	font-size: 2rem;
}

.navbar-toggler-icon {
	width: .5em;
	height: .5em;
}

button:focus {
	outline: none;

}

/*
* ============================
*	 LANDING PAGE GRID CSS
* ============================
*/

.container-fluid {
	width: 100vw;
	padding: 0;
	margin: 0;
}

.landing-row {
	display: flex;
	flex-wrap: wrap;
	margin-left: 0;
}

.col-white {
	background: white;
	/*border: 1px solid grey;*/
}

.col-red {
	background: #eb402c;
	/*border: 1px solid grey;*/
}

.col-yellow {
	background: #f5c040;
	/*border: 1px solid grey;*/
}


.col-blue {
	background: #6549f5;
	/*border: 1px solid grey;*/
}

/*
* ============================
*	 LANDING PAGE CONTENT
* ============================
*/

.landing-logo {
	font-family: Dosis;
	font-weight: 600;
}

.thumb-post {
	object-fit: none; /* Do not scale the image */
  object-position: center; /* Center the image within the element */
  width: 50%;
  max-height: 800px;
  margin-bottom: 1rem;
}

.landing-content {
	margin: 5rem 5rem 5rem 8rem;
	min-width: 50%;
	height: 650px;
}

.landing-current-status {
	position: absolute;
	z-index: 2;
	top: 700px;
}

.landing-current-status-featured-location {
	position: absolute;
	z-index: 2;
	top: 600px;
}

.landing-participant-name {
	position: absolute;
	z-index: 2;
	top: 600px;
}

.landing-header-white-box {
	font-size: 1.75rem;
	font-weight: 400;
	color: #000;
	/*margin-top: 2rem;*/
	/*margin-bottom: 1rem;*/
}

.landing-header-participant-name {
	font-size: 2.5rem;
	font-weight: 600;
	color: #fff;
}


.landing-header-red-box {
	font-size: 2.5rem;
	font-weight: 600;
	color: #fff;
	margin-bottom: 2rem;
}

.landing-img-box-bg-blue {
  position: absolute;
	margin-top: 1.25rem;
	margin-left: 1.25rem;
	margin-bottom: 4rem;
	width: 380px;
	height: 480px;
	background: #6549f5;
	z-index: 1;
}

.landing-img-box-bg-dark-blue {
  position: absolute;
	margin-top: 1.25rem;
	margin-left: 1.25rem;
	margin-bottom: 4rem;
	width: 380px;
	height: 480px;
	background: #272263;
	z-index: 1;
}


.landing-text {
	color: #fff;
	font-size: 1.4rem;
	font-weight: 300;
	line-height: 2.25rem;
	margin-bottom: 2rem;
}


/*
* ==============================
*	LANDING PAGE DATA STORIES
* ==============================
*/
.landing-data-stories-content {
	margin: 5rem 5rem 5rem 8rem;
	min-width: 50%;
	height: 650px;
	/*border: 1px solid #fff;*/
}

.landing-data-stories-text {
	color: #fff;
	font-size: 1.25rem;
	font-weight: 300;
	line-height: 2rem;
	width: 400px;
	background-color: #272263;
	padding: 1.8rem;
	z-index: 1000;
	margin-top: 0;
	/*border: 1px solid #fff;*/
}


.landing-data-stories-img {
/*	position: absolute;*/
	width: 400px;
	height: 300px;
	margin-top: 0;
	margin-bottom: 0;
  background-position: center center;
  background-repeat: no-repeat;
	z-index: 1;
}

.landing-data-stories-datetime {
	position: absolute;
	background-color: #f5c040;
	font-size: 1.5rem;
	line-height: 1.8rem;
	width: 175px;
	padding: 1rem;
	margin: 1rem;
}

.landing-data-stories-sensor-type {
	position: absolute;
	color: #fff;
	top: 200px;
	background-color: #f5c040;
	font-size: 2rem;
	font-weight: 500;
	line-height: 1.8rem;
	width: 210px;
	padding: 1rem;
	margin: 1rem;
}

.landing-data-stories-reading {
	position: absolute;
	color: #000;
	left: 59%;
	top: 165px;
	background-color: #f5c040;
	font-size: 6rem;
	font-weight: 500;
	line-height: 1.8rem;
	width: 120px;
	height: 6rem;
	padding: 2.25rem 3rem 1rem 1rem;
	margin: 1rem;
}


/*
* ==================================
*	LANDING PAGE PARTICIPANTS CONTENT
* ==================================
*/

.landing-participant-content {
	margin: 5rem 5rem 5rem 8rem;
	min-width: 50%;
	height: 650px;
	/*border: 1px solid #fff;*/
}


.landing-participant-side-way {
	color: #fff;
	font-size: 2.25rem;
	font-weight: 800;
	word-spacing: 1rem;
	left: 2rem;
	top: 5rem;
	position: absolute;
	writing-mode: vertical-rl;
	text-orientation: mixed;
	z-index: 1;
}


.landing-participant-text {
	color: #272263;
	font-size: 1.6rem;
	font-weight: 300;
	line-height: 2.6rem;
	width: 400px;
	padding-top: 0;
	padding-right: 1.8rem;
	padding-left: 1.8rem;
	z-index: 1000;
	margin-top: 0;
	/*border: 1px solid #fff;*/
}




/*
* ============================
*	LANDING PAGE IMAGES CSS
* ============================
*/

.landing-img {
	position: absolute;
	width: 380px;
	height: 480px;
	margin-top: 0;
	margin-bottom: 1rem;
  background-position: center center;
  background-repeat: no-repeat;
	z-index: 1000;
}


/*
* ============================
*	LANDING PAGE SIDEWAY TEXT
* ============================
*/

.landing-best-for-side-way {
	font-size: 2.25rem;
	font-weight: 800;
	word-spacing: 1rem;
	left: 2rem;
	top: 29.5rem;
	position: absolute;
	writing-mode: vertical-rl;
	text-orientation: mixed;
	z-index: 1;
}

.landing-featured-location-side-way {
	font-size: 2.25rem;
	font-weight: 800;
	word-spacing: 1rem;
	left: 2rem;
	top: 10rem;
	position: absolute;
	writing-mode: vertical-rl;
	text-orientation: mixed;
	z-index: 1;
}

.landing-data-stories-side-way {
	color: #fff;
	font-size: 2.25rem;
	font-weight: 800;
	word-spacing: 1rem;
	left: 2rem;
	top: 5rem;
	position: absolute;
	writing-mode: vertical-rl;
	text-orientation: mixed;
	z-index: 1;
}

.landing-featured-participant-side-way {
	color: #272263;
	font-size: 2.25rem;
	font-weight: 800;
	word-spacing: 1rem;
	left: 2rem;
	top: 5rem;
	position: absolute;
	writing-mode: vertical-rl;
	text-orientation: mixed;
	z-index: 1;
}





/*
* ============================
*	Vertical Nav CSS
* ============================
*/

.nav-bar {
	position: fixed;
	top: 0;
	left: 0;
	min-width: 17rem;
	width: 17rem;
	height: 100vh;
	border-right: 1px solid #cccccc;
	padding-left: 0;
}


.nav-bar li {
	list-style: none;
}

.nav-logo {
	font-weight: 600;
	font-size: 2.25rem;
	font-family: Dosis;
	margin-top: 30px;
	margin-left: 30px;
}

.nav-item a {
	font-size: 2rem;
	font-family: Poppins;
	font-weight: 300;
	color: #9e9e9e;
	margin-left: 30px;
	border-bottom: 3px solid white;
}

.nav-item a:visited {
	text-decoration: none;
}

.nav-item a:hover {
	background: #ffffff;
	text-decoration: underline;
	text-decoration-color: orange;
}


.nav-link {
	width: auto;
	margin-top: 100px;
	margin-bottom: 100px;
}


/*
* ============================
*	LOGS STORIES CSS
* ============================
*/

.log-container {
	position: relative;
	top: 2rem;
	bottom: 0;
	width: calc(100vw -17rem);
	margin-right: 0;
	margin-bottom: 5rem;
}

.card-deck {
	margin-bottom: 30px;
}

.card {
	width: 100%;
	overflow: hidden;
	margin-bottom: 0;
	box-shadow: 0px 0px 0px #CCCCCC;
	-webkit-transition:  box-shadow .3s ease-out;
	box-shadow: .6px .7px 1px #CCCCCC;
}

.card:hover {
	box-shadow: 1px 8px 20px #CCCCCC;
	-webkit-transition: box-shadow .4s ease-in;
}

.card-text {
	color: #9e9e9e;
	font-family: Poppins;
	font-weight: 300;
	font-size: .9rem;
	line-height: 1.3rem;
}


.card-text-posted-by {
	font-family: Poppins;
	font-weight: 600;
	font-size: .9rem;
	margin: 0 0 5px 0;
}

.card-text-timestamp {
	font-style: italic;
	font-family: Poppins;
	font-weight: 300;
	font-size: .9rem;
}


.text-truncate {
	max-width: 800px;
}


/*
* ============================
*	NEW LOG FORM CSS
* ============================
*/

.new-log-form {
	margin-bottom: 4rem;
}

label {
	color: #9e9e9e;
	font-size: 1.25rem;
	font-weight: 300;
}



/*
* ============================
*	 INDV LOG SHOW CSS
* ============================
*/

.log-show {
	margin-right: 0;
	margin-bottom: 5rem;
}

.log-text {
	color: #787878;
	font-family: Poppins;
	font-weight: 300;
	font-size: 1.1rem;
	line-height: 1.75rem;
}


/*
* ============================
*	 CHARTS CSS
* ============================
*/
.chart {
	font-family: Poppins;
	font-weight: 400;
}


.row {
	margin-left: 2rem;
	margin-bottom: 7rem;
}

.chart-participant {
	margin-left: 4rem;
	margin-top: 1rem;
	font-size: 1rem;
	font-weight: 600;
}