<div class="container">
	<div class="new-log-form col-md-7 col-sm-7">
		<h1>Editing Log</h1>

		<%= render 'form', log: @log %>

		<%= link_to 'Show', @log %> |
		<%= link_to 'Back', logs_path %>

	</div>
</div>